# Node modules
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.development
.env.production

# Prisma
prisma/*.db
prisma/migrations/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Docker
sample-db.tar
*.tar

# Editor settings
.vscode/
.idea/
